<table class="w-full text-left table-collapse table-fixed">
  <thead>
    <tr>
      <th>Sample ID</th>
      <th>Avg. height</th>
      <th>Leaves health</th>
      <th>Food production</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each @crops as |crop|}}
      <tr>
        <td class="font-mono">
          {{crop.name}}
        </td>
        <td class="font-mono">
          <ToggleInput type="number" @value={{crop.avgHeight}} @onChange={{fn this.updateAttr crop "avgHeight"}}>{{crop.avgHeight}}cm</ToggleInput>
        </td>
        <td class="font-mono">
          <ToggleSelect @options={{this.healthValues}} @selected={{crop.health}} @onChange={{fn this.updateAttr crop "health"}} />
        </td>
        <td class="font-mono">
          <ToggleInput type="number" @value={{crop.foodProduction}} @onChange={{fn this.updateAttr crop "foodProduction"}}>{{crop.foodProduction}}g/day</ToggleInput>
        </td>
        <td>
          <div class="flex justify-end">
            <button class="btn btn-blue" {{on "click" (fn this.showCares crop)}}>Cares</button>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <div class="flex justify-end">
          <button class="btn btn-blue" {{on "click" this.createCrop}}>Add new crop</button>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
{{#if this.cropCare}}
  <Modal @onClose={{fn (mut this.cropCare) undefined}} as |m|>
    <m.Title>Some title</m.Title>
    <m.Content>
      <div class="mb-4">
        <span class="block text-gray-700 text-sm font-bold mb-2">Water</span>
        <span>{{this.cropCare.water}}ml/day</span>
      </div>
      <div class="mb-4">
        <span class="block text-gray-700 text-sm font-bold mb-2">Light</span>
        <span>{{this.cropCare.light}}%</span>
      </div>
      <div class="mb-4">
        <span class="block text-gray-700 text-sm font-bold mb-2">Fertilizer</span>
        <span>{{this.cropCare.fertilizerType}} / {{this.cropCare.fertilizerAmount}}ml</span>
      </div>
    </m.Content>
    <m.Footer/>
  </Modal>
{{/if}}