<table class="w-full text-left table-collapse table-fixed">
  <thead>
    <tr>
      <th>Sample ID</th>
      <th>Avg. height</th>
      <th>Leaves health</th>
      <th>Food production</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each @crops as |crop|}}
    <tr>
      <td class="font-mono">
        {{crop.name}}
      </td>
      <td class="font-mono">
        <ToggleInput type="number" @value={{crop.avgHeight}} @onChange={{fn this.updateAttr crop "avgHeight"}}>{{crop.avgHeight}}cm</ToggleInput>
      </td>
      <td class="font-mono">
        <ToggleSelect @options={{this.healthValues}} @selected={{crop.health}} @onChange={{fn this.updateAttr crop "health"}} />
      </td>
      <td class="font-mono">
        <ToggleInput type="number" @value={{crop.foodProduction}} @onChange={{fn this.updateAttr crop "foodProduction"}}>{{crop.foodProduction}}g/day</ToggleInput>
      </td>
      <td><button class="btn btn-blue">Cares</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>